div{
    font-size: 26px;
    font-style: oblique;
    color: rgb(94, 92, 92);
    border-bottom: rgba(128, 128, 128, 0.692) 2px solid;
    height: 75px;
}
footer{
    text-align: center;
    position: relative;
    bottom: -140px;
}
.copyright{
    margin-top: 30px;
    color: rgb(94, 92, 92);
}