#noticias{
    margin-top: 2em;
    display:flex ;
    position: relative;
}

#noticias li{
    list-style-type:none;
    padding-right:5em;
    padding-left: 5em;
}
.img-fluid{
    //position: relative;
    width: 100%;
    height: 50%;
}
ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
li{
    background-color: rgba(139, 146, 139, 0.26);
    margin: 2vw;
    text-align: center;
    width: 27vw;
    padding: 0;
}
.img-thumbnail{
    width: 50%;
}


.green{
    color:green;
}

.blue{
    color:blue;
}
.reddark{
    color:brown;
}
.violet{
    color:blueviolet;
}
.bluedark{
    color:rgb(18, 18, 129);
}
.red{
    color:red;
}  