<div>
    <article >
        <img src="../../assets/2.jpg" alt="No disponible" height="300px" width="350px">
        <a class="titular" href="https://cnnespanol.cnn.com/2021/10/24/analisis-rusia-nordstream-crisis-energetica-vladimir-putin-trax/" title="Cómo Occidente creó la versión más peligrosa de Putin">
            Cómo Occidente creó la versión más peligrosa de Putin</a>
        <p class="Desc">El mundo ha recordado la confianza de Rusia en las últimas semanas. A medida que los precios del gas se disparan en Europa debido a un suministro reducido de gas ruso y mientras Putin corta los lazos diplomáticos laxos de su nación con la OTAN, vale la pena examinar cuán gravemente los políticos occidentales han malinterpretado a Putin e ignorado su voluntad de usar las armas a su disposición.</p>
    </article>
    <ul class="fila">
        <article>
            <img src="../../assets/4.jpg" alt="No disponible" height="180px" width="350px">
            <a class="titular" href="https://cnnespanol.cnn.com/video/real-madrid-victoria-clasico-fc-barcelona-camp-nou-vinicius-benzema-ansu-fati-messi-koeman-ancelotti-laliga-deportes-cnn-pkg/" title="¿Por qué el Madrid ha dominado los últimos clásicos?">
                ¿Por qué el Madrid ha dominado los últimos clásicos?			</a>
        </article>
        <article>
            <img src="../../assets/4.jpg" alt="No disponible" height="180px" width="350px">
            <a class="titular" href="https://cnnespanol.cnn.com/video/real-madrid-victoria-clasico-fc-barcelona-camp-nou-vinicius-benzema-ansu-fati-messi-koeman-ancelotti-laliga-deportes-cnn-pkg/" title="¿Por qué el Madrid ha dominado los últimos clásicos?">
                ¿Por qué el Madrid ha dominado los últimos clásicos?			</a>
        </article>
    </ul>
    <ul class="fila">
        <article>
            <img src="../../assets/5.jpg" alt="No disponible" height="180px" width="350px">
            <a class="titular" href="https://www.cnnchile.com/coronavirus/que-esta-permitido-fase-preparacion_20211025/">Toda la RM retrocede: ¿Qué está permitido en la fase de Preparación?</a>
        </article>
        <article>
            <img src="../../assets/5.jpg" alt="No disponible" height="180px" width="350px">
            <a class="titular" href="https://www.cnnchile.com/coronavirus/que-esta-permitido-fase-preparacion_20211025/">Toda la RM retrocede: ¿Qué está permitido en la fase de Preparación?</a>
        </article>
    </ul>
</div>
<div >
    <ul>
        <article class="Container">
            <img src="../../assets/3.jpg" alt="No disponible" height="80px" width="90px">
            <a class="titular" href="https://cnnespanol.cnn.com/2021/10/23/captura-alias-otoniel-jefe-del-clan-del-golfo-narcotraficante-colombia/" title="Capturan a alias &quot;Otoniel&quot;, el narcotraficante más buscado de Colombia">
                Capturan a alias "Otoniel", el narcotraficante más buscado de Colombia</a>
        </article>
        <article class="Container">
            <img src="../../assets/3.jpg" alt="No disponible" height="80px" width="90px">
            <a class="titular" href="https://cnnespanol.cnn.com/2021/10/23/captura-alias-otoniel-jefe-del-clan-del-golfo-narcotraficante-colombia/" title="Capturan a alias &quot;Otoniel&quot;, el narcotraficante más buscado de Colombia">
                Capturan a alias "Otoniel", el narcotraficante más buscado de Colombia</a>
        </article>
        <article class="Container">
            <img src="../../assets/3.jpg" alt="No disponible" height="80px" width="90px">
            <a class="titular" href="https://cnnespanol.cnn.com/2021/10/23/captura-alias-otoniel-jefe-del-clan-del-golfo-narcotraficante-colombia/" title="Capturan a alias &quot;Otoniel&quot;, el narcotraficante más buscado de Colombia">
                Capturan a alias "Otoniel", el narcotraficante más buscado de Colombia</a>
        </article>
    </ul>
</div>

