

<div class="container" *ngIf="Flag">
    
        <form [formGroup]="atencionCliente" (ngSubmit)="Validacion()">
           
             <ul>
                     <li>
                             <label for="nombreCompleto" class= "form-label" class="mt-3" >Nombre Completo </label>
                             <input   id="nombreCompleto"type="text" class="form-control" formControlName="nombreCompleto"> 
                             <div *ngIf="atencionCliente.controls['nombreCompleto'].invalid && (atencionCliente.controls['nombreCompleto'].dirty || atencionCliente.controls['nombreCompleto'].touched)"  class="alert alert-danger" > 
                                     Campo requerido
                             </div>
                     </li>
                     
                     <li>
                             <label for="telefono">Teléfono</label>
                             <input  id="telefono"type="text" class="form-control" formControlName="telefono" >
                             <div *ngIf="atencionCliente.controls['telefono'].invalid && (atencionCliente.controls['telefono'].dirty || atencionCliente.controls['telefono'].touched)" class="alert alert-danger" > 
                                     Ingrese un telefono valido
                             </div>
                     </li>
                     <li>    
                             <label for="correoElectronico">Correo Electrónico</label>
                             <input id="correoElectronico" type="email" class="form-control" formControlName="correoElectronico">
                             <div *ngIf="atencionCliente.controls['correoElectronico'].invalid && (atencionCliente.controls['correoElectronico'].dirty || atencionCliente.controls['correoElectronico'].touched)" class="alert alert-danger" > 
                                     Ingrese un Email valido
                             </div>
                     </li>
                     <li>
                             <label for="dirigido">Dirigido a</label>
                             <select id="dirigido" class="form-select" aria-label="Default select example" formControlName="dirigido">
                                     <option value="1">Contenidos</option>
                                     <option value="2">Publicidad</option>
                                     <option value="3">Sugerencias</option>
                                     <option value="4">Suscripciones digitales</option>
                             </select>
                             <div *ngIf="atencionCliente.controls['dirigido'].invalid && (atencionCliente.controls['dirigido'].dirty || atencionCliente.controls['dirigido'].touched)" class="alert alert-danger" > 
                                     Seleccione un campo
                             </div>
                     </li>
                     <li>
                             <label for="mensaje">Mensaje</label>
                             <textarea class="mt-1" id="mensaje" formControlName="mensaje"></textarea>
                             <div *ngIf="atencionCliente.controls['mensaje'].invalid && (atencionCliente.controls['mensaje'].dirty || atencionCliente.controls['mensaje'].touched)" class="alert alert-danger" > 
                                     Mensaje requerido
                             </div>
                     </li>
     
                     <li>    
                             <button class="mt-4" [disabled]="!atencionCliente.valid" type="submit">Send</button>
                     </li>
      
                   </ul>            
     
     
        </form>  
     </div>
     <div class="container" *ngIf="!Flag">
             <div class="alert alert-success">
                    <h1>Nos pondemos en contacto con uds lo antes posible</h1>
             </div>
     </div>
     