
.verde{
    color:green;
}

.azul{
    color:blue;
}
.rojodark{
    color:brown;
}
.violeta{
    color:blueviolet;
}
.azuldark{
    color:rgb(18, 18, 129);
}
.rojo{
    color:red;
}

#cuerpo{
    display: flex;
}