<div class="gris">
    <div class="container">
        <nav>
            <ul>
                <li> <button type="button" class="btn btn-outline-secondary" [routerLink]="['']">Home</button> </li>
                <li> <button type="button" class="btn btn-outline-secondary" [routerLink]="['/noticias']">Noticias</button> </li>
                <li> <button type="button" class="btn btn-outline-secondary" [routerLink]="['/atencion-cliente']">Servicio Al Cliente</button> </li>
            </ul>
        </nav>
    </div>
</div>


